

.countriesContainer {
    display: flex;
    justify-content: center;

}

.countries{
    margin-top: 10px;
    font-size: 20px;
    box-shadow: 10px 10px 100px 5px black;
}

.country_img{
    width: 200px;
    height: 100px;
}